---
import Layout from '~/layouts/PageLayout.astro';

//import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';

import { Image } from 'astro:assets';
import fondnoir from '~/assets/images/LogoONbrNoir.svg';
import fondblanc from '~/assets/images/LogoONbrBlanc.svg';

const metadata = {
  title: 'Olivier Nuber — Bienvenue !',
};
---

<Layout metadata={metadata}>

  <div class="flex justify-center">
    <span class="lazy dark:hidden">
      <Image src={fondnoir} alt="LogoNoir"/>
    </span>
    <span class="hidden lazy dark:block">
      <Image src={fondblanc} alt="logoBlanc"/>
    </span>
</div>

</Layout>
